
.container--experience {
    height: auto;
    background-color: ivory;
    padding-top: 1rem;
}
h1 {
    color: #4E432F;
    font-size: 40px;
}
.title--name {
    color: #FB7D3A;
    font-size: 50px;
}
h3{
    color: #B5B4A6;
    font-size: 37px;
}
.title--employment{
    font-size: 1.5em;
}
.education {
    padding: 1rem;
    color: #727167;
}
.container--employment{
    display: flex;
    flex-direction: column;    
}
.company-container{
    display: flex;
    flex-direction: column;
    text-align: left;
    margin: auto;
}
.parent-container{
    padding: 1.55rem;
}
.employment-company{
    font-weight: bold;
    padding-top: 25px;
    font-size: 1.25rem;
}
.value-to-company{
    padding: 10px 0 ;
}
.value-company{
    padding-left: 2rem;
}

@media (min-width: 800px) {
    .parent-container{
        display: flex;
        flex-direction: column;
        justify-content: left;        
    }   
  }