
.container--experience {
    height: auto;
    background-color: ivory;
    padding-top: 1rem;

}
.container--experience h1 {
    color: #4E432F;
    font-size: 4rem;  
      
}
.title--name {
    color: #FB7D3A;
    font-size: 3rem;
    margin: 1rem 0;
}
h3{
    color: #B5B4A6;
    font-size: 2rem;
    margin: 0;
}

.education {
    padding: 1rem;
    color: #727167;
}
.container--employment{
    display: flex;
    flex-direction: column;  
    padding: 0 2rem 3rem 2rem;
    text-align:left;
}
.title--employment{
    font-size: 1.75rem; 
    padding-top: 3rem;
}
.company-container{
    display: flex;
    flex-direction: column;
}

.employment-company{
    font-weight: bold;
    padding-top: 25px;
    font-size: 1.25rem;
}
.value-to-company{
    padding: 10px 0 ;
}
.value-company{
    padding-left: 2rem;
}

@media (min-width: 800px) {
    .container--employment{
        margin: auto;
        width: 50rem;

    }
  }