body::-webkit-scrollbar{
  display: none;
}
#img-headshot {
  width: 15%;
  border-radius: 50%;
  margin: auto; 
}
.home {
  width: 100%;
  align-items: center;  
  display: flex;
  flex-direction: column;
  }  
.intro {
  width: 100%;
  height: calc(100vh - 100px);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  background-color: #fffff0;
  color: #FB7D3A ;
}
.intro h2 { 
  font-size: 5em;
  color: #4E432F ;
  margin-bottom: 0;
}
.intro .prompt {
  width: 40%;
  font-size: 30px;  
}
.prompt svg {
  font-size: 2.5em;
  margin: 5px;
  color: #B5B4A6 ;
}
.about-container {
  display: grid;
  grid-auto-flow: column;
  grid-template-columns: 1fr, 1fr;
  background-color: #B5B4A6; 
  padding-bottom:30px;   
}
.skills-container {  
  display: flex;
  flex-direction: column;
  align-items: center;   
  width: 100%;    
}
.skills-container h2 {
  color: #FB7D3A ;
  font-size: 4.375em;
}
.icons-container{
  max-width: 50%;
}
.icon-skills{
  width: 60px; 
  min-width: 0;
  padding: 15px;
}
.bio-container h2{
  text-align: center;
  font-size: 4.375em;
  color:#409488;
  margin-bottom: 1.5rem;
}
.bio-container{
  display: flex;
  flex-direction: column;
  padding: 0 30px 20px 30px;
  text-align: left;
}
.bio-info{
  /* text-indent: 30px; */
  line-height: 1.9;
  max-width: 70%;
  margin: auto;
  font-size: 1.25em;
  padding-top: 1rem;
}
#first-p{
  padding-top:2.5rem;
}
/*<--Contact Form--> */
.contact-container{
  background-color: #fffff0;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.contact-container h2{
  font-size: 3.125em;
  color:#4E432F;
}
form{   
  box-sizing: border-box;  
  padding-bottom: 30px;
  /* max-width: 475px; */
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 500px;
}

button, 
input, 
textarea{
  font-family: inherit;
  font-size: 100%;
  width: 100%;
  padding: 10px;
  margin: 8px;
  box-sizing: border-box;
  border: 0;
  border-radius: 8px;
  box-shadow: 0 0 1px 1px #409488;
}
button{
  width: 45%;
  background-color: #FFBA3D;
  box-shadow: none;
}
button:hover{
  background-color: #fbcf7e;
  cursor: pointer;
}
textarea{
  resize: vertical;
}


/* <--Bird--> */
.bird{
  background-color: black;
  height: 80px;
  width: 100px;
  position: absolute;
  top:20%;
  left:20%;
  border-radius: 100px 100px 0px 0px;
  animation: fly 2s infinite;
}
@keyframes fly {
  50%{transform:translateY(50px);}
}
.body{
  background-color: #FB7D3A ;
  height: 100px;
  width: 200px;
  position: relative;
  top:80px;
  right: 100px;
  border-radius: 0px 0px 200px 200px;  
}
.feather1{
  width: 0;
  height: 0;
  border-left: 20px solid transparent;
  border-right: 20px solid transparent;
  border-top: 60px solid teal;
  position:relative;
  right: 140px;
  bottom: 70px;
  transform: rotate(-45deg)
}
.eye{
  background-color: white;
  height: 20px;
  width: 20px;
  border-radius: 50%;
  position: relative;
  bottom: 130px;
  left: 50px;
}
.eyeball{
  background-color: black;
  height: 10px;
  width: 10px;
  border-radius: 50%;
  position: relative;
  top: 4px;
  left: 4px;
}
.beak {  
  height: 0;
  width: 0;
  border-top:15px solid transparent;
  border-bottom:15px solid transparent;
  border-left:30px solid #ffc400;
  position: relative;
  bottom: 140px;
  left: 100px;
}
.feather2{
  background-color: #4E432F;
  width: 170px;
  height: 85px;
  border-radius: 0px 0px 170px 170px;  
  position:relative;
  right: 120px;
  bottom: 140px;
  animation: flap 1s infinite;
  transform-origin: right;
}
@keyframes flap {
  50%{
    transform: rotate(20deg);
  }
}
.inner {
  background-color: teal;
  height: 70px;
  width: 140px;
  border-radius: 0px 0px 120px 120px;
  position: relative;
  left: 15px;
}


@media only screen and (min-width: 300px) and (max-width: 768px) {
  #img-headshot{
    width: 25%;
  }
  .intro h2 {
    font-size: 3.125em;
  }
  .intro .prompt {
    margin-top: 10px;
    font-size: 1.875em;
    width: 80%;
  }
  .skills {
    text-align: center;
  }
  .list {
    padding: 0;
  }
  .skills-container h2, .bio-container h2 {
    font-size: 2.5em;
  }
  .icons-container{
    max-width: 90%;
  }  
  .about-container{
    display: grid;
    grid-auto-flow: row;
  }
  form {
    max-width: 80%;
  }
  .bird{
    background-color: black;
    height:40px;
    width: 50px;
    position: absolute;
    top:75%;
    left:50%;
    border-radius: 100px 100px 0px 0px;
    animation: fly 2s infinite;
  }
  @keyframes fly {
    50%{transform:translateY(50px);}
  }
  .body{
    background-color: #FB7D3A ;
    height: 50px;
    width: 100px;
    position: relative;
    top:40px;
    right: 50px;
    border-radius: 0px 0px 200px 200px;  
  }
  .feather1{
    width: 0;
    height: 0;
    border-left: 10px solid transparent;
    border-right: 10px solid transparent;
    border-top: 60px solid teal;
    position:relative;
    right: 80px;
    bottom: 60px;
    transform: rotate(-45deg)
  }
  .eye{
    background-color: white;
    height: 10px;
    width: 10px;
    border-radius: 50%;
    position: relative;
    bottom: 95px;
    left: 30px;
  }
  .eyeball{
    background-color: black;
    height: 5px;
    width: 5px;
    border-radius: 50%;
    position: relative;
    top: 2px;
    left: 2px;
  }
  .beak {  
    height: 0;
    width: 0;
    border-top:7.5px solid transparent;
    border-bottom:7.5px solid transparent;
    border-left:15px solid #ffc400;
    position: relative;
    bottom: 100px;
    left: 50px;
  }
  .feather2{
    background-color: #4E432F;
    width: 85px;
    height: 42.5px;
    border-radius: 0px 0px 170px 170px;  
    position:relative;
    right: 60px;
    bottom: 100px;
    animation: flap 1s infinite;
    transform-origin: right;
  }
  @keyframes flap {
    50%{
      transform: rotate(20deg);
    }
  }
  .inner {
    background-color: teal;
    height: 35px;
    width: 70px;
    border-radius: 0px 0px 120px 120px;
    position: relative;
    left: 9px;
  }
}


@media only screen and (min-width: 768px) and (max-width:1024px){
  #img-headshot{
    width: 25%;
  }
  .intro {
    height: 80vh;
    justify-content: flex-start;
    padding-top: 2.5rem;
  }
  .about-container{
    display: grid;
    grid-auto-flow: row;
  }
  .bio-container{
    padding:0;
  }
  .bio-info{    
    max-width: 80%;
  }
  form{   
    box-sizing: border-box;  
    padding-bottom: 30px;
    max-width: 50%;    
  }
}